# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#mdx output files





# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
src/content/docs/api/Animations.mdx
src/content/docs/api/Audio.mdx
src/content/docs/api/Camera.mdx
src/content/docs/api/Color.mdx
src/content/docs/api/Database.mdx
src/content/docs/api/Geometry.mdx
src/content/docs/api/Graphics.mdx
src/content/docs/api/Input.mdx
src/content/docs/api/Json.mdx
src/content/docs/api/Logging.mdx
src/content/docs/api/Networking.mdx
src/content/docs/api/Physics.mdx
src/content/docs/api/Resource Bundles.mdx
src/content/docs/api/Resources.mdx
src/content/docs/api/Social.mdx
src/content/docs/api/Sprites.mdx
src/content/docs/api/Terminal.mdx
src/content/docs/api/Timers.mdx
src/content/docs/api/Types.mdx
src/content/docs/api/Utilities.mdx
src/content/docs/api/Windows.mdx
src/content/docs/api/Raspberry.mdx
src/content/docs/guides/Animations/index.mdx
src/content/docs/guides/Audio/index.mdx
src/content/docs/guides/Camera/index.mdx
src/content/docs/guides/Database/index.mdx
src/content/docs/guides/Inputs/index.mdx
src/content/docs/guides/JSON/index.mdx
src/content/docs/guides/Networking/index.mdx
src/content/docs/guides/Others/Cmake/index.mdx
src/content/docs/guides/Others/index.mdx
src/content/docs/guides/Sprites/index.mdx
src/content/docs/guides/Starter/index.mdx
src/content/docs/guides/Utilities/index.mdx
src/content/docs/api/Raspberry.mdx
