@import url("https://use.typekit.net/vzr3ole.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Gaegu&display=swap");

/* Dark mode colors. */
:root {
  --splashkit-blue: #00A9E0;
  --splashkit-blue: #00A9E0;
  --purple-hsl: 255, 60%, 60%;
  --overlay-blurple: hsla(var(--purple-hsl), 0.2);
  /* --table-head-color: rgb(35, 38, 47); */
}

/* Light mode colors. */
:root[data-theme='light'] {
/*   --sl-color-accent: #00A9E0; */
  --sl-color-accent: #3D50f5;
}

[data-has-hero] .page {
  background: linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
    radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
    radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

[data-has-hero] .hero>img {
  filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

iframe[id="stackblitz-iframe"] {
  width: 100%;
  min-height: 600px;
}

[data-has-hero] .hero>div.sl-flex {
  align-self: flex-start;
}

[data-has-hero] .sl-container {
  margin: 0 auto;
}

[data-has-hero] .hero .action {
  border: 1px solid var(--splashkit-blue);
  transition: background-color ease-in-out 0.25s, color 0.3s ease;
  position: relative;
  overflow: hidden;
/*   background-color: white;
  color: black; */
  cursor: pointer;
}

[data-has-hero] .hero .action::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, #FF8300, #00A9E0);
  background-size: 300% 300%;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 24px;
  z-index: -1;
}

[data-has-hero] .hero .action:hover::before {
  opacity: 1;
  animation: moveGradient 3s linear infinite;
}

[data-has-hero] .hero .action:hover {
  color: white;
  background-color: transparent;
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
  z-index: -1;
}

[data-has-hero] .hero .action:hover::before {
  opacity: 1;
  animation: moveGradient 3s linear infinite;
}

[data-has-hero] .hero .action:hover {
  color: white;
  background-color: transparent;
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

[data-has-hero] .hero .action.minimal {
  border: solid 1px var(--sl-color-text-accent);
  padding: 1rem 1.25rem;
}

[data-has-hero] .hero .actions {
  gap: 1.25rem;
}

[data-has-hero] .hero .hero-gradient-text {
  background: radial-gradient(circle at top left,
      hsl(296, 100%, 50%) 0%,
      transparent 50%),
    radial-gradient(circle at center, rgb(113, 147, 233) 0%, transparent 100%),
    radial-gradient(circle at bottom right, rgb(0, 68, 255) 0%, transparent 50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* centre all images/gifs */
img {
  display: block;
  margin: auto;
}

[data-has-hero] .star-text {
  margin-top: 8px !important;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: wider;
}

[data-has-hero] footer {
  margin-top: 80px !important;
}

@font-face {
  font-family: "FontAwesomeBrands";
  src: url("/src/fonts/fa-brands-400.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Additional styles for the site and icons */

/* Additional styles for the site and icons */
.home-card {
  border-radius: 20%;
  border: 1px dotted black;
}

html[data-theme="dark"] a.multitool:after,
html[data-theme="dark"] a.apple:after,
html[data-theme="dark"] a.windows:after,

html[data-theme="dark"] a.multitool:after,
html[data-theme="dark"] a.apple:after,
html[data-theme="dark"] a.windows:after,
html[data-theme="dark"] a.linux:after {
  border: 1px solid black;
}

a.pi:after,
a.apple:after,
a.windows:after,
a.pi:after,
a.apple:after,
a.windows:after,
a.linux:after {
  font-family: "FontAwesomeBrands";
  content: "\f7bb"; /* example, adjust the content value for each specific icon */
  content: "\f7bb"; /* example, adjust the content value for each specific icon */
  float: right;
  border-radius: 5px;
  border: 1px solid white;
  padding: 0px 5px 0px 5px;
}

/* XQuest changes */
article.card {
  border-radius: 0.5rem;
  box-shadow: var(--sl-shadow-md);
  border: 1px solid var(--sl-color-gray-5);
}

.legal {
  margin-top: 4rem !important;
  font-size: 12px;
}

.footer {
  font-size: 14px;
}

a.decent {
  color: var(--sl-color-white) !important;
  text-decoration: none !important;
}

a.decent:hover {
  color: var(--sl-color-accent) !important;
}

/** Better table styling */
.sl-markdown-content table {
  border-radius: 0.5rem;
  box-shadow: var(--sl-shadow-md);
  border: 1px solid var(--sl-color-gray-5);
  width: max-content;
  max-width: 100%;
  text-align: left;
}

.sl-markdown-content table th {
  border-right: 1px solid var(--sl-color-gray-5);
}

.sl-markdown-content table td {
  border-right: 1px solid var(--sl-color-gray-5);
}

.sl-markdown-content table td:first-child,
.sl-markdown-content table th:first-child {
  border-left: none;
  padding-left: 15px;
}

.sl-markdown-content table td:last-child,
.sl-markdown-content table th:last-child {
  border-right: none;
  padding-right: 15px;
}

.sl-markdown-content table tr:first-child th {
  border-top: none;
  text-align: left;
  background-color: var(--sl-color-gray-6);
  /* color: white; */
}

.sl-markdown-content table tr:last-child td {
  border-bottom: none;
}

.starlight-aside,
.card {
  border-radius: 0.5rem;
}

code {
  border-radius: 0.25rem;
}

.expressive-code {
  border-radius: 0.6rem;
  box-shadow: var(--sl-shadow-md);
}

.color-box {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid lightgray;
  margin-left: 20px;
}

/* Applied a blue drop-shadow effect to hero images, enhancing their visibility and focus. */
.hero img {
  transition: transform 0.3s ease, filter 0.3s ease;
  width: 90%;
  height: 90%;
  filter: drop-shadow(0 0 1rem var(--splashkit-blue));
}

/* Blue shadow background upon hover for the splashkit logo */
.hero img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 2rem var(--splashkit-blue));
}
/* Enhanced the hover effect on hero images by increasing the shadow size and applying a slight scale-up animation. */
