---
import { LinkCard, CardGrid } from "@astrojs/starlight/components";

interface Frontmatter {
  title: string;
  description?: string;
  author?: string;
  lastupdated?: string;
  category?: string;
}

let posts = await Astro.glob<Frontmatter>("../content/docs/guides/*/*.mdx");
posts = posts.filter((post) => !post.file.endsWith("index.mdx"));

let guides = posts.filter(
  (post) => post.frontmatter.category?.toLowerCase() == "guides",
);
// sort guides on the basis of simplifyed File Path
guides = guides.sort((a, b) =>
  simplifyFilePath(a.url?.toString() || "").localeCompare(
    simplifyFilePath(b.url?.toString() || ""),
  ),
);
let tutorials = posts.filter(
  (post) => post.frontmatter.category?.toLowerCase() == "tutorials",
);
tutorials = tutorials.sort((a, b) =>
  simplifyFilePath(a.url?.toString() || "").localeCompare(
    simplifyFilePath(b.url?.toString() || ""),
  ),
);

function simplifyFilePath(filePath: string) {
  // Remove leading and trailing slashes
  filePath = filePath.replace(/^\/|\/$/g, "");

  // Split the path into parts using '/'
  const pathParts = filePath.split("/");

  // Get the last part of the path (including directory name)
  const folderPath = pathParts[4] + "/" + pathParts[pathParts.length - 1];

  // Remove file extension (assuming it's after the last dot in the last part)
  const simplifiedName = folderPath.split(".").slice(0, -1).join(".");

  return simplifiedName.toLowerCase(); // Convert to lowercase for consistency
}
---

<h2>Tutorials</h2>
<CardGrid stagger>
  {
    tutorials.map((post) => (
      <LinkCard
        title={post.frontmatter.title}
        description={`Written by ${post.frontmatter.author || "Various"}${
          post.frontmatter.lastupdated
            ? ` on ${post.frontmatter.lastupdated}`
            : ""
        }`}
        href={simplifyFilePath(post.url?.toString() || "")}
      />
    ))
  }
</CardGrid>
<h2>Guides</h2>
<CardGrid stagger>
  {
    guides.map((post) => (
      <LinkCard
        title={post.frontmatter.title}
        description={`Written by ${post.frontmatter.author || "Various"}${
          post.frontmatter.lastupdated
            ? ` on ${post.frontmatter.lastupdated}`
            : ""
        }`}
        href={simplifyFilePath(post.url?.toString() || "")}
      />
    ))
  }
</CardGrid>
